
.todoTaskContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    }
.navbar{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0.5rem 0;
}
.navbar button{
    margin-right: 2rem;
    padding: 0.5rem;
    background-color: black;
    color:white;
    border-radius: 0.5rem;
   
}
.taskContainer{
    border: 2px solid black;
    width: 100%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.taskContainer input{
    width: 77%;
    height: 2rem;
    margin: 1rem 0;
    padding-left: 3%;
}
.taskContainer button{
    width: 30%;
    background-color: red;
    color:white;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
   
    }