
.todoTaskContainer{
    /* border: 2px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    }
.navbar{
    border: 2px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 0.5rem 0;
}
.navbar button{
    margin-right: 2rem;
    padding: 0.5rem;
    background-color: black;
    color:white;
    border-radius: 0.5rem;
   
}
.mainComponent{
    width: 100%;
    height: 80vh;
   }
.taskContainer{
    border: 12px solid black;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.taskContainer input{
    width: 77%;
    height: 2rem;
    margin: 1rem 0;
    padding-left: 3%;
}
.taskContainer button{
    width: 30%;
    background-color: red;
    color:white;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
   
    }
    .seperateTask{
        border: 2px solid black;
    }
      .viewTaskContainer{
    border: 2px solid green;
    width: 100%;
    display: flex;
    flex-direction: row;
   }
   .tasksViewContainer{
    /* border: 5px solid red; */
    height: 90vh;
    width: 80%;
    overflow: auto;
   }
 
   
  
   .sideNaveList {
    /* border: 1px solid black; */
     border: 2px solid red;
    width: 19%;
    height: 90vh;
    list-style: none;
       color:blue;
   }
   .sideNaveList li{
    border: 1px solid black;
    background-color:black;
    margin-bottom: 1rem ;
    color:white;
    font-size: 1rem;
    padding: 1rem 0;
    text-align: center;
   }
   .viewTaskContainer{
    display: flex;
    flex-direction: row;
   }